body {
  padding: 0;
  margin: 0;
  overflow: auto;
  background: #F2F2F2;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  height: 100%;
  padding: 0;
}

.noshow {
  visibility: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.space {
  padding-right: 2.5px;
}

/*//////////////////////////////////////NAV BAR/////////////////////////////*/

.logo {
  max-height: 170px;
  max-width: 200px;
  padding-top: 5px;
  padding-left: 20;
}

.sidebar {
  height: 100% !important;
  background: #d1d1d1;
  width: 275px;
  position: fixed;
  overflow-y: auto;
  color: black;
  font-weight: bold;
}

.sidenav {
  height: 100%;
  z-index: 1;
  padding-top: 60px;
}

.sidenav li {
  padding: 0px 8px 8px 10px;
  display: block;
}

.sidenav li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.15rem;
}

.sidenav li a:hover {
  text-decoration: none;
  color: #EC2D2D;
}

.nav-num {
  color: #EC2D2D;
}

.nav-num:hover {
  color: #000000;
}

/*////////////////////////////////MAIN FIELD///////////////////////////////*/

h1 {
  font-size: 2rem;
  color: #EC2d2d;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.65rem;
}

a{
  color:#EC2d2d;
}

.main {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top:2em;
  margin: 0 3rem 0 350px;
  clear: none;
  font-size: 1.2em;
}

.body {
  height: 100%;
  width 100%;
}


/*//////////////////////////////FORM BOX/////////////////////////////////*/


/*CONTENT DIVISION*/

.bg-break {
  width: 100%;
  height: 10px;
  background: rgba(102, 102, 102, .25);
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
}

.sm-break {
  width: 100%;
  height: 2px;
  background: rgba(236, 45, 45, .5);
  margin-top: 30px;
}

.ex-break {
  width: 100%;
  height: 1px;
  background: rgba(102, 102, 102, .25);
  margin-top: 30px;
}

/*FOR CHECK BOXES*/

.checkbox {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  position: relative;
  float: left;
  margin-right: 20px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
}

.checkbox label:before {
  content: '';
  width: 9px;
  height: 5px;
  border: 3px solid #000;
  position: absolute;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 3px;
  left: 3px;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked+label:before {
  opacity: 1;
}

.checkbox input[type="checkbox"]:checked+label {
  background-color: #EC2D2D;
}

.check-icles {
  display: inline;
}

.check-icles p {
  margin-top: 2px;
  width: 20px;
}

/*INlINE CHECKBOXES*/

.checkbox-in {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  position: relative;
  margin-right: 5px;
  margin-left: 30px;
}

.checkbox-in input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-in label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
}

.checkbox-in label:before {
  content: '';
  width: 9px;
  height: 5px;
  border: 3px solid #000;
  position: absolute;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 3px;
  left: 3px;
  opacity: 0;
}

.checkbox-in input[type="checkbox"]:checked+label:before {
  opacity: 1;
}

.checkbox-in input[type="checkbox"]:checked+label {
  background-color: #EC2D2D;
}

/*////////////////////////////////RADIO BUTTONS////////////////////////////*/

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  position: relative;
  float: left;
  margin-right: 20px;
}

.radio input[type="radio"] {
  visibility: hidden;
}

.radio label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
}

.radio label:before {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}

.radio input[type="radio"]:checked+label:before {
  opacity: 1;
}

.radio input[type="radio"]:checked+label {
  background-color: #EC2D2D;
  border: 1px solid black;
}

/*INlINE RADIO*/

.radio-in {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
}

.radio-in input[type="radio"] {
  visibility: hidden;
}

.radio-in label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.radio-in label:before {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}

.radio-in input[type="radio"]:checked+label:before {
  opacity: 1;
}

.radio-in input[type="radio"]:checked+label {
  background-color: #EC2D2D;
  border: 1px solid black;
}

/*////////////////////////////////Search Box////////////////////////////*/

.search-box-container {
  display: inline-flex;
  font-size: 20px;
  height: 22px;
}

.search-box-input {
  border: 0.2em solid #EC2D2D;
  margin-left: 5px;
}

.search-box-input:hover,
.search-box-input:focus {
  border-color: #666666;
}

.search-box-button {
  height: 22px;
  background-color: #EC2D2D;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
}

.search-box-button:hover,
.search-box-button:focus {
  background-color: white;
  color: #EC2D2D;
}

/*////////////////////////////////SELECT FIELD////////////////////////////*/

.select-field {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 15px 0px 15px 0px;
  padding: 0px;
  background-color: white;
  color: #666666;
  border: 1px solid #EC2D2D;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.select-field:after {
  content: "";
  width: 0px;
  height: 0px;
}

.select-field>select {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 45px 0px 15px;
  border: 0px;
  background-color: transparent;
  font-family: 'osbold';
  font-size: 16px;
  color: #666666;
  position: relative;
  z-index: 3;
}

.select-field>select>option {
  padding: 10px;
}

/*////////////////////////////////Text Fields////////////////////////////*/

.text-field-container {
  font-size: 22px;
}

.text-field {
  width: 275px;
  height: 22px;
  font-size: 20px;
  border: 1px solid #EC2D2D;
}

.text-box {
  width: 380px;
  height: 100px;
  border: 1px solid #EC2D2D;
}

.text-field:hover,
.text-field:focus {
  border-color: #666666;
}

.text-field-button {
  background-color: #EC2D2D;
  color: white;
  font-size: 18px;
  width: 380px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/*////////////////////////////////Buttons////////////////////////////*/

.button-container {
  padding-bottom: 60px;
}

.buttons {
  height: 60px;
  width: 60px;
  margin-right: 60px;
  float: left;
}

.buttons:hover {
  color: white;
  background: #EC2D2D;
}

.button-like {
  color: white;
  background-color: blue;
}

.button-a11y::before {
  content: '\267F A11Y';
  font-size: 20px;
}

.button-search {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-left: -25px;
  margin-top: -24px;
}

/*////////////////////////////////Buttons////////////////////////////*/

.color {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 180px;
  height: 180px;
  border-radius: 3px;
  vertical-align: top;
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.color-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: small;
}

.color-desc-alt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: black;
  font-size: small;
}

/*/////////////////////////////////LINKS/////////////////////////////////*/

.focus-link:focus {
  color: #EC2D2D;
}

.read-more {
  color: #EC2D2D;
}

/*/////////////////////////////////IMAGES//////////////////////////////*/

.scaled-image {
  height: 50%;
  width: 50%;
}

/*///////////////////////////////BREADCRUMB/////////////////////////////*/

ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  font-size: 17px;
}

ol.breadcrumb li {
  display: inline;
}

ol.breadcrumb li+li:before {
  padding: 8px;
  color: #1e1e1e;
  content: "/\00a0";
}

ol.breadcrumb li a {
  color: #Ec2d2d;
  text-decoration: none;
}

ol.breadcrumb li a:hover {
  color: #666;
  text-decoration: underline;
}

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  font-size: 17px;
}

.breadcrumb a {
  color: #Ec2d2d;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #666;
  text-decoration: underline;
}

.breadcrumb-item:before {
  padding: 8px;
  color: #1e1e1e;
  content: "/\00a0";
}

/*////////////////////////////////NAVIGATION////////////////////////////*/

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343434;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover:not(.active) {
  background-color: #ED2D2D;
}

.nav-link:active {
  background-color: #EC2D2D;
}

.nav-link2 {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link2:hover:not(.active) {
  background-color: #ED2D2D;
}

/*////////////////////////////////////PAGINATION/////////////////////////*/

.pagination {
  display: inline-block;
  text-decoration: none;
}

.pagination li {
  float: left;
  color: transparent;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination li.active {
  background-color: #ec2d2d;
  color: transparent;
  border: 1px solid #343434;
}

.pagination li:hover:not(.active) {
  background-color: #EC2D2D;
}

.pagination li a {
  text-decoration: none;
  color: #1e1e1e
}

/*//////////////////////////////////////TABLES///////////////////////*/

.tables {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #343434;
  width: 20px;
}

th {
  background-color: #ec2d2d;
  color: white;
}

.headers{
  width: 20px;
}

/*/////////////////////////////////TACO//////////////////////////////*/

.taco-detonation {
  margin-top: 100px;
  margin-bottom: 100px;
  align: center;
}
